html {
  height: 100%;
}

main img {
  width: 100%;
}

h3 {
  margin: auto;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

p {
  margin-top: 3rem;
  text-align: center;
  width: 70%;
  margin: auto;
}

.iframeContainer {
  padding-top: 3rem;
  margin: auto;
  text-align: center;
}

.iframeContainer iframe{
  width: 70vw;
  height: 70vh;
}

.imageContainer {
  width: 50%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.calendarContainer {
  width: 75%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.calendarContainer iframe{
height: 50rem;
}

.cardsContainer {
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.cardsContainer a {
  flex-flow: wrap;
  width: 45%;
  margin-bottom: 4rem;
}

.cardsContainer img {
  border-radius: 0.5rem 0.5rem 0 0;
}

.cardsContainer p {
  background-color: #18191b;
  width: 100%;
  padding: 0.5rem 0 1rem 1rem;
  border-radius: 0 0 1rem 1rem;
  text-align: left;
}

#headerContainer {
  background-color: #18191b;
  min-height: 15vh;
  height: 20vh;
  color: #ffffff;
  text-align: center;
}

#headerH2 {
  margin: auto;
  line-height: 20vh;
}

#headerH2 img {
  width: 15vh;
  margin: 1rem;
}

nav {
  position: sticky;
  background-color: #feed01 !important;
}

nav ul li {
  display: flex;
  padding-right: 1rem;
}

nav ul li a {
  color: #18191b !important;
}

footer {
  background-color: #18191b;
  height: 8vh;
  text-align: center;
  color: #ffffff;
  width: 100%;
  margin-top: 2rem;
}

footer p {
  margin: auto;
  line-height: 8vh;
}

.active {
  border-bottom: #18191b solid 2px;
}

.media {
  float: right;
}

.mx-auto {
  display: inline;
}

.mail{
  color: #0d6efd;
  text-decoration-line: underline;
}

.underline{
  color: #212529;
}

#inschrijvenIframe {
  width: 100%;
  margin: 2rem auto 2rem auto;
}

#inschrijvenMain p:nth-of-type(1),
p:nth-of-type(2) {
  margin-bottom: 2rem;
}

#socials a {
  margin-right: 1rem;
}

#facebook img {
  width: 2rem;
  height: 2rem;
}

#instagram img {
  width: 1.5rem;
  height: 1.5rem;
}

#initiatiesContainer {
  margin: 5rem 3rem 3rem 3rem;
  display: grid;
  grid-template-columns: repeat(2);
}

#imageContainer {
  grid-column: 1;
  margin-bottom:3rem;
}

#imageContainer img {
  border-radius: 1rem;
}

#textContainer {
  margin-top: 2rem;
  grid-column: 2;
}

#contactPage{
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

#contactPage div:nth-of-type(1){
  width: 50%;
}
#contactPage div:nth-of-type(2){
  width: 30vw;
}

#contactPage input{
  width: 30vw;
}

#contactPage form{
  width: 100%;
}

#contactPage button{
  color: black;
  background-color: #feed01;
}

#contactPage h2 {
  margin-bottom: 2rem;
}

#contactPage h4:nth-of-type(1){
  margin-top:2rem;
  margin-bottom: 4rem;
}

#contactPage li:nth-of-type(1){
  list-style: none;
  font-size: 1.2rem;
}

#contactPage li:nth-of-type(2){
  list-style: none;
  font-size: 1.2rem;
}

@media screen and (max-width: 900px){
  #contactPage form{
    display: none;
  }

  #socials li{
    margin-bottom: 0.5rem;
  }

  .iframeContainer{
    width: 100%;
  }
}

